{% extends "base/auth_base.html" %}

{% block title %}Student Login - CAMS{% endblock %}

{% block auth_content %}
<h2 class="auth-form-title">Student Login</h2>
<div class="auth-form-subtitle">Access your club memberships and events.</div>

<form method="POST" action="{{ url_for('student.login') }}">
    <input type="text" autocomplete="off"
           class="form-control" 
           id="identifier" 
           name="identifier" 
           placeholder="Email or Registration No. (e.g. S13/00000/22)" 
           required>

    <input type="password" 
           class="form-control" 
           id="password" 
           name="password" 
           placeholder="Password" 
           required>

    <button type="submit" class="btn-auth">Login</button>
</form>

<div class="auth-links">
    <a href="{{ url_for('student.forgot_password') }}">Forgotten your password?</a><br>
    <a href="{{ url_for('student.register') }}" style="margin-top: 15px;">Don't have an account? Register here</a>
</div>
{% endblock %}