{% extends "base/auth_base.html" %}

{% block title %}Reset Password - CAMS{% endblock %}

{% block auth_content %}
<h2 class="auth-form-title">New Password</h2>
<div class="auth-form-subtitle">Enter your new student password below.</div>

<form method="POST" action="">
    <input type="password" 
           class="form-control" 
           name="password" 
           placeholder="New Password" 
           minlength="6"
           required>

    <button type="submit" class="btn-auth">Update Password</button>
</form>
{% endblock %}
